.projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #e0dfda;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  box-sizing: content-box;
  padding-block: 20px;
  gap: 2%;
}
.projects > h1:first-of-type {
  font-family: versus;
  font-weight: bolder;
  letter-spacing: 2px;
  white-space: break-spaces;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.5rem, calc(1.086vw + 1.2554rem), 2.125rem);
  text-align: center;
  color: #121212;
}
.projects > h2:first-of-type {
  font-family: versus;
  font-weight: bolder;
  letter-spacing: 2px;
  white-space: break-spaces;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(16px, 14px + 1.2vw, 20px);
  text-align: center;
  color: #e2a115;
}
.firstlayer {
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
}

.firstlayer > .tag > div {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  cursor: pointer;
}
.firstlayer > .tag > div span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #e2a115;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}
.firstlayer > div:last-child h1 {
  font-family: versus;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: #e2a115;
  font-size: clamp(1.125rem, 0.65vw + 0.978rem, 1.5rem);
}
.lastlayer {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
}
.lastlayer > .button {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  justify-content: center;
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: versus;
  color: #121212;
  padding-inline: 0.2rem;
  padding-block: 0.4rem;
  background-color: transparent;
  border: 0.5px solid #121212;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.lastlayer > .button::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 300ms 0s ease;
  background-color: #e2a115;
  border-radius: 0.5px;
  z-index: -1;
}
.lastlayer > .button:hover::before {
  width: 100%;
}
.lastlayer > .button:hover {
  border: 0.5px solid #121212;
  color: white;
}

.wrapper {
  position: relative;
  width: 45%;
  aspect-ratio: 1.01;
}
.wrapper .shape {
  position: absolute;
  transition: all 680ms ease-in-out;
}
.wrapper .shape:nth-child(1) {
  background-color: #fb8500;
}
.wrapper .shape:nth-child(2) {
  background-color: #ffb703;
}
.wrapper .shape:nth-child(3) {
  background-color: #023047;
}
.wrapper .shape:nth-child(4) {
  background-color: #219ebc;
}
.wrapper .shape:nth-child(5) {
  background-color: #8ecae6;
}
.wrapper .shape:nth-child(6) {
  background-color: #dc8ee6;
}
.wrapper .shape:nth-child(7) {
  background-color: #5f23ce;
}

.wrapper[data-configuration="1"] .shape:nth-child(3) {
  width: 12.5%;
  height: 25%;
  right: 0;
  bottom: 0;
}
.wrapper[data-configuration="1"] .shape:nth-child(2) {
  width: 25%;
  height: 50%;
  right: 0;
  bottom: 0;
}
.wrapper[data-configuration="1"] .shape:nth-child(1) {
  width: 50%;
  height: 100%;
  right: 0;
  bottom: 0;
}
.wrapper[data-configuration="1"] .shape:nth-child(4) {
  width: 20%;
  height: 50%;
  right: 50%;
  bottom: 0;
}
.wrapper[data-configuration="1"] .shape:nth-child(5) {
  width: 30%;
  height: 50%;
  right: 70%;
  bottom: 0;
}
.wrapper[data-configuration="1"] .shape:nth-child(6) {
  width: 30%;
  height: 50%;
  right: 50%;
  bottom: 50%;
}
.wrapper[data-configuration="1"] .shape:nth-child(7) {
  width: 20%;
  height: 50%;
  right: 80%;
  bottom: 50%;
}

/* config two */

.wrapper[data-configuration="2"] .shape:nth-child(3) {
  width: 10%;
  height: 50%;
  right: 0;
  bottom: 0;
}
.wrapper[data-configuration="2"] .shape:nth-child(2) {
  width: 15%;
  height: 70%;
  right: 10%;
  bottom: 20%;
}
.wrapper[data-configuration="2"] .shape:nth-child(1) {
  width: 25%;
  height: 100%;
  right: 25%;
  bottom: 0;
}
.wrapper[data-configuration="2"] .shape:nth-child(4) {
  width: 10%;
  height: 35%;
  right: 50%;
  bottom: 35%;
}
.wrapper[data-configuration="2"] .shape:nth-child(5) {
  width: 15%;
  height: 70%;
  right: 60%;
  bottom: 0;
}
.wrapper[data-configuration="2"] .shape:nth-child(6) {
  width: 15%;
  height: 70%;
  right: 75%;
  bottom: 30%;
}
.wrapper[data-configuration="2"] .shape:nth-child(7) {
  width: 10%;
  height: 35%;
  right: 90%;
  bottom: 65%;
}

/* roundness one */

.wrapper[data-roundness="1"] .shape:nth-child(3) {
  border-radius: 50%;
}
.wrapper[data-roundness="1"] .shape:nth-child(2) {
  border-radius: 40%;
}
.wrapper[data-roundness="1"] .shape:nth-child(1) {
  border-radius: 15%;
}
.wrapper[data-roundness="1"] .shape:nth-child(4) {
  border-radius: 20%;
}
.wrapper[data-roundness="1"] .shape:nth-child(5) {
  border-radius: 40%;
}
.wrapper[data-roundness="1"] .shape:nth-child(6) {
  border-radius: 50%;
  width: 25%;
  aspect-ratio: 1/1;
}
.wrapper[data-roundness="1"] .shape:nth-child(7) {
  border-radius: 20%;
  width: 25%;
  right: 75%;
}

/* roundness two */

.wrapper[data-roundness="2"] .shape:nth-child(3) {
  border-top-left-radius: 65%;
}
.wrapper[data-roundness="2"] .shape:nth-child(2) {
  border-top-left-radius: 65%;
}
.wrapper[data-roundness="2"] .shape:nth-child(1) {
  border-top-right-radius: 50%;
}
.wrapper[data-roundness="2"] .shape:nth-child(4) {
  border-bottom-left-radius: 60%;
}
.wrapper[data-roundness="2"] .shape:nth-child(5) {
  border-top-right-radius: 60%;
  border-bottom-left-radius: 60%;
}
.wrapper[data-roundness="2"] .shape:nth-child(6) {
  border-radius: 50%;
  width: 25%;
  aspect-ratio: 1/1;
}
.wrapper[data-roundness="2"] .shape:nth-child(7) {
  border-bottom-left-radius: 120%;
  width: 30%;
  right: 75%;
}

/* roundness three */

.wrapper[data-roundness="3"] .shape {
  border-radius: 7rem;
}
/* roundness four */
.wrapper[data-roundness="4"] .shape {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.wrapper[data-roundness="4"] {
  transform: translateX(-15%);
}
/* config three */

.wrapper[data-configuration="3"] .shape:nth-child(3) {
  width: 12.5%;
  right: 0;
  bottom: 0;
}
.wrapper[data-configuration="3"] .shape:nth-child(2) {
  width: 25%;
  right: 0;
  bottom: 0;
}
.wrapper[data-configuration="3"] .shape:nth-child(1) {
  width: 49%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.wrapper[data-configuration="3"] .shape:nth-child(4) {
  width: 12.5%;
  right: 38%;
  bottom: 15%;
}
.wrapper[data-configuration="3"] .shape:nth-child(5) {
  width: 25%;
  right: 50.5%;
  bottom: 0;
}
.wrapper[data-configuration="3"] .shape:nth-child(6) {
  width: 25%;
  right: 40%;
  bottom: 45.8%;
  z-index: -2;
}
.wrapper[data-configuration="3"] .shape:nth-child(7) {
  width: 12.5%;
  right: 64.4%;
  bottom: 47.5%;
}

@media screen and (width<860px) {
  .lastlayer > .button {
    font-size: 14px;
  }
}

@media screen and (width <460px) {
  .wrapper {
    width: 80%;
  }
}
